---
title: {{ page.text }}
layout: page
---
<p class="verse">{{ page.text | replace: "/", "<br/>" }}</p>

{% assign authorizedsources = "Acc,Aimericus,Doctrinale,Gra,Graec,Rad,Serlo,Siguinus,Tra" | split: "," %}

{% assign sources = page.source | split: ";" %}
<p><strong>Sources:</strong>
  {% for source in sources %}
    {% assign parts = source | split: " " %}
    {% for part in parts %}
      {% if authorizedsources contains part and forloop.first %}
        <a href="/tag/{{ part | slugify }}/">{{ part }}</a>
      {% else %}
        {{ part }}
      {% endif %}
    {% endfor %}
    {% unless forloop.last %}; {% endunless %}
  {% endfor %}
</p>

{% if page.walther %}
  {% assign walthers = page.walther | split: ";" %}
  <p><strong>Walther no.:</strong>
  {% for walther in walthers %}
    {% assign cleanwalther = walther | strip %}
    {{ cleanwalther }}{% unless forloop.last %}; {% endunless %}
  {% endfor %}
  </p>
{% endif %}

{% if page.genre != '' %}
  <p><strong>Genre:</strong> <a href="/tag/{{ page.genre | slugify }}/">{{ page.genre }}</a></p>
{% endif %}

{% assign terms = page.term | split: ";" %}

<p><strong>Terms:</strong>
  {% for term in terms %}
    {% assign cleanterm = term | strip %}
    <a href="/tag/{{ cleanterm | slugify }}/">{{ cleanterm }}</a>{% unless forloop.last %},{% endunless %}
  {% endfor %}
</p>
